*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    display: flex;
    place-items: center;
    height: 100vh;
    
}
main{
    display: grid;
    grid-template-areas:
    'a a b'
    'c d d'
    'c e e'
    ;
    gap: 10px;
    width: 50%;
    margin: auto;
    
}
main div{
    padding: 2em;
}
.item-a{
    background-color: rgb(224, 64, 6);
    grid-area: a;
    
    height: 50px;
    
}
.item-b{
    background-color: rgb(249, 249, 6);
    grid-area: b;
    
    height: 50px;
}

.item-c{
    background-color: rgb(23, 99, 23);
    grid-area: c;
    
}
.item-d {
    background-color: rgb(82, 158, 189);
    grid-area: d;
    
    
    
}
.item-e{
    background-color: rgb(82, 158, 189);
    grid-area: e;
    
}